@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

.App {
  max-width: 800px;
  margin: 0 auto 70px;/* for navbar-bottom */
  text-align: center;
  padding: 0 20px;
}
